
{% extends "plantillaPadre.html" %}
{% load static %}
{% block content %}

<br>
<br>
<br>


    <div class="container">
       <h2 class="text-center text-dark">
           Presentación
           
       </h2>
       <br>
       <br>
           <div class="col">
            <div class="">
                 <div class="text-center">
                    <p> Mi nombre es Maximiliano Soto, tengo 30 años <br>
                        trabajo en un estudio contable y además trabajo como asistente de un auditor <br>
                        que desempeña sus servicios en el Gobierno de la Ciudad de Buenos aires.<br>
                        <br>
                        El año pasado empecé con los cursos tanto de python como de analisis de datos <br>
                        y estoy ansioso por seguir aprendiendo muchas cosas más sobre estos dos mundos
                        </p>
                 </div>
            </div>
        </div>
       </div>
    </div>
    <br>
    <br>
    <br>
    <br>



{% endblock content %}